extends ../layout

block styles
	link(rel='stylesheet', href='/stylesheets/product/single.css')

block content
	div.main-block
		div.singleProduct
			div.left
				div.mainImage
					img(:src="product.imagePath[currentImage]", alt="Empty")
					div.estimate
						div.like
							img(src="../images/like.png", alt="")
						div.review
							img(src="../images/review.png", alt="")
				div.thumbnails
					img(v-for="(image, index) in product.imagePath", :src="image", alt="", @click="currentImage = index")
				div.share
					div.social
						span Share this product: 
						a(href="#")
							img.facebook(src="../images/social/facebook.png", alt="")
						a(href="#")
							img(src="../images/social/twitter.png", alt="")
						a(href="#")
							img.google(src="../images/social/google.png", alt="")
					p
						a(href="#")
							img(src="../images/email.png", alt="")
						| Email this to a friend
			div.right
				div.prodDesc
					p.title {{ product.title }}
					p.type {{ product.type }}
					p(v-if="product.sale == 0").price {{ product.price | addUSD }}
					div.newPrice(v-else)
						span.price {{ onSale }}
						span.oldPrice {{ product.price | addUSD }}
					form.addToCart(:action='product.unique | addToCart', method='POST', @submit.prevent="handlerSubmit()")
						div.forPin
							div 
								p Have a Pin?
							input(type="text", placeholder="enter your pincode")
						div.selectSize
							p Select Size:
							div.helpDiv
								label(v-for="oneSize in product.size", @click="currentSize = oneSize", :class="{ checked: currentSize == oneSize }")
									input(type="radio", 
										  name="size", 
										  :id="oneSize",
										  :value="oneSize",
										  required)
									span {{ oneSize }}
						div.selectQuantity
							p Select Quantity:
							div.select
								div.minus(v-on:click='quantity -= 1')
								input(type="text", 
									  id="quant", 
									  name="quantity",
									  ref="quant"
									  v-model="quantity")
								div.plus(v-on:click='quantity += 1')
						div.forBuy
							button.inCart(type="submit")
								img(src="../images/korzina.png", alt="")
							p.or OR
							button.speedBuy(type="submit")
								p SPEED BUY
								img(src="../images/rightArrow.png", alt="")
				div.description
					p {{ product.description }}
	div.partDesc
		p Product Specifications:
		div.specific
			div.onePart(v-for="(val, index) in product.partDesc")
				div.ind
					span {{ index }}
				div.value
					span {{ val }}
	div#pop-ups
		div.message(v-for="(message, index) in messages")
			img(src="../images/close.svg", @click="messages.splice(index, 1)")
			p {{ message }}
block scripts
	script(src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js")
	script(src="../javascripts/single.js")